# Domains

Jupyter Book also lets you write text-based notebooks using MyST Markdown.
See [the Notebooks with MyST Markdown documentation](https://jupyterbook.org/file-types/myst-notebooks.html) for more detailed instructions.
This page shows off a notebook written in MyST Markdown.

## An example cell

With MyST Markdown, you can define code cells with a directive like so:

In [1]:
print(2 + 2)

4

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/WCRP-CORDEX/domain-tables/main/boundaries.csv", index_col="domain_id")
df

,region,domain,tlc_lon,tlc_lat,cnb_lon,cnb_lat,trc_lon,trc_lat,cwb_lon,cwb_lat,cpd_lon,cpd_lat,ceb_lon,ceb_lat,blc_lon,blc_lat,csb_lon,csb_lat,brc_lon,brc_lat
domain_id,,,,,,,,,,,,,,,,,,,,
EUR,1,Europe,315.86,60.21,1.92,71.84,64.4,66.65,338.23,42.36,9.75,49.68,44.77,46.72,350.01,22.2,12.48,27.34,36.3,25.36

When your book is built, the contents of any `{code-cell}` blocks will be
executed with your default Jupyter kernel, and their outputs will be displayed
in-line with the rest of your content.

```{seealso}
Jupyter Book uses [Jupytext](https://jupytext.readthedocs.io/en/latest/) to convert text-based files to notebooks, and can support [many other text-based notebook files](https://jupyterbook.org/file-types/jupytext.html).
```

## Create a notebook with MyST Markdown

MyST Markdown notebooks are defined by two things:

1. YAML metadata that is needed to understand if / how it should convert text files to notebooks (including information about the kernel needed).
   See the YAML at the top of this page for example.
2. The presence of `{code-cell}` directives, which will be executed with your book.

That's all that is needed to get started!

## Quickly add YAML metadata for MyST Notebooks

If you have a markdown file and you'd like to quickly add YAML metadata to it, so that Jupyter Book will treat it as a MyST Markdown Notebook, run the following command:

```
jupyter-book myst init path/to/markdownfile.md
```